@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 23 23 23; /* #171717 */
        --color-bg-main: 242 241 236; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }
    html.dark {
        --color-text-main: 242 241 236; /* #F2F1EC */
        --color-bg-main: 23 23 23; /* #171717 */
        --color-bg-muted: 36 36 36; /* #242424 */
        --color-border-main: 242 241 236; /* #F2F1EC */
    }

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}

.body {
    margin: 0 30px;

    .greeting {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .header {
        font-size: 24px;
        margin-bottom: 20px;
        @media screen and (min-width: 1024px) {
            font-size: 30px;
        }
    }

    .intro-paragraph {
        font-size: 16px;
        margin-bottom: 15px;

        @media screen and (min-width: 1024px) {
        font-size: 18px;
        }
    }

    .link {
    position: relative;
    display: inline-block; /* Ensures the element's width fits its content */
    z-index: 0; /* Establishes a new stacking context */
    }

    .link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70%; /* Initially positioned just below the text */
    background-color: #c1d3fe;
    z-index: -1; /* Places the pseudo-element behind the text */
    transition: top 0.55s ease; /* Transition duration increased to 1s for a slower effect */
    }

    .link:hover::after {
    top: 0; /* Animate to cover the full height of the element */
    }
}