---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="body">
        <!-- <img src="/memoji_sam.png" /> -->
        <h1 class="greeting">Hello! <div class="waving-hand">👋</div></h1>
        <h2 class="header">My name is Samantha Chu.</h2>

        <p class="intro-paragraph">
            I'm a full stack Software Engineer specializing in front-end development with Javascript. My experience includes working within modern web
            frameworks such as <strong>React.js</strong>, <strong>Node.js</strong>, <strong>Vue.js</strong>, and <strong>Express.js</strong>. My skills include
            using Handlebars templating, Webpack, SCSS/CSS, familiarity with user experience, accessibility, web performance, and search-engine optimization
            (SEO) best practices, and proficiency in additional programming languages such as Python, Java, and R.
        </p>
        <p class="intro-paragraph">
            I'm currently a Software Engineer at <a class="link" target="_blank" href="https://www.businessinsider.com/">Business Insider</a>.
        </p>
        <p class="intro-paragraph">
            I believe that thoughtful design can revolutionize industries, so I'm passionate about developing software solutions that are accessible, scalable,
            user-centric, and high-performing—ensuring a delightful experience for every user.
        </p>
        <p class="intro-paragraph">
            I graduated with a Master's and Bachelor's degree from <a class="link" href="https://cis.cornell.edu/" target="_blank">Cornell University</a>, at
            the Bower's College of Computing and Information Science. My concentration was in <strong>Data Science</strong> and <strong
                >User Experience Design</strong
            >. While in university, I was involved as a Graduate Teaching Research Specialist and TA for multiple courses, and received the Teaching Assistant
            Recognition Award upon graduation.
        </p>
        <p class="intro-paragraph">Outside of programming, I'm a certified cycling and pilates instructor who loves to exercise, cook, read, and dogsit.</p>
        <p class="intro-paragraph">
            If you'd like to learn more about my background, feel free to reach out on <a
                class="link"
                target="_blank"
                href="https://www.linkedin.com/in/samantha-chu/">LinkedIn</a
            >, send me an email, or take a look at my <a class="link" target="_blank" href="https://white-kissee-23.tiiny.site">resume</a>!
        </p>
    </div>
</BaseLayout>
