---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="body">
        <h1 class="greeting">Hello! 👋</h1>
        <h2 class="header">My name is Samantha Chu.</h2>
        <p class="intro-paragraph">
            I'm a full stack Software Engineer specializing in front-end development with Javascript. My experience includes working within modern web
            frameworks such as React.js, Node.js, Vue.js, and Express.js. My skills include using Handlebars templating, Webpack, SCSS/CSS, and strong profiency
            in additional programming languges such as Python, Java, and R.
        </p>
        <p class="intro-paragraph">
            I'm currently a Software Engineer at <a class="link" target="_blank" href="https://www.businessinsider.com/">Business Insider</a>.
        </p>
        <p class="intro-paragraph">
            I believe that transformative design can revolutionize industries, so I'm passionate about developing software solutions that are accessible,
            scalable, user-centric, and high-performing—ensuring a delightful experience for every user.
        </p>
        <p class="intro-paragraph">
            I graduated with a Master's and Bachelor's degree from <a class="link" href="https://cis.cornell.edu/" target="_blank">Cornell University</a>, at
            the Bower's College of Computing and Information Science. My concentration was in Data Science and User Experience Design. While in university, I
            was involved as a Graduate Teaching Research Specialist and TA for multiple courses, and received the Teaching Assistant Recognition Award upon
            graduation.
        </p>
        <p class="intro-paragraph">
            Outside of programming, I'm a certified cycling and pilates instructor who loves to exercise, cook, crochet, read, paint, and dogsit.
        </p>
        <p class="intro-paragraph">
            If you'd like to learn more about my background, feel free to reach out on <a
                class="link"
                target="_blank"
                href="https://www.linkedin.com/in/samantha-chu/">LinkedIn</a
            >, send me an <a class="link" href="mailto:samantha.chu@gmail.com">email</a>, or take a look at my <a
                class="link"
                target="_blank"
                href="https://white-kissee-23.tiiny.site">resume</a
            >!
        </p>
    </div>
</BaseLayout>
