---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="body">
        <h1 class="greeting">Hello! 👋</h1>
        <h2 class="header">My name is Samantha Chu.</h2>
        <p class="intro-paragraph">
            I'm a full stack Software Engineer, currently building at <a class="link" target="_blank" href="https://www.businessinsider.com/"
                >Business Insider</a
            >. I am a design-oriented engineer, specializing in front-end development using Javascript. I have experience working with modern web-frameworks
            like React.js, Node.js, and Vue.js.
        </p>
        <p class="intro-paragraph">
            I am passionate about creating accessible, scalable, user-focused, and performant software solutions that delight its users.
        </p>
        <p class="intro-paragraph">
            I graduated with a Master's and Bachelor's degree from <a class="link" href="https://cis.cornell.edu/" target="_blank">Cornell University</a>, at
            the Bower's College of Computing and Information Science. My concentration was in Data Science and User Experience Design. While in university, I
            was involved as a Graduate Teaching Research Specialist and TA for multiple courses, and received the Teaching Assistant Recognition Award upon
            graduation.
        </p>
        <p class="intro-paragraph">
            Outside of programming, I'm a certified cycling and pilates instructor who loves to workout, cook, crotchet, read, draw, and dogsit! You can check
            out my artwork <a class="link" target="_blank" href="https://www.instagram.com/artbysamantha_nyc/?igsh=eDFoZWZpNmZvc3ph&utm_source=qr#">here</a>.
        </p>
        <p class="intro-paragraph">
            If you'd like to learn more about my background, feel free to reach out on <a
                class="link"
                target="_blank"
                href="https://www.linkedin.com/in/samantha-chu/">LinkedIn</a
            >, or take a look at my <a class="link" target="_blank" href="https://white-kissee-23.tiiny.site">resume</a>!
        </p>
    </div>
</BaseLayout>
